:root {
  --primary-color: #05668d;
  --secundary-color: #84ffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.6;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.3;
  margin: 0.5rem;
}

ul,
ol {
  list-style: none;
}

section {
  /* max-width: 1100px; */
  min-height: 700px;
  margin: auto;
  overflow: hidden;
  padding: 1rem 2rem;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  /* padding: 1rem 2rem; */
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #ececec;
}


header {
  display: flex;
  background-color: var(--primary-color);
  width: 100%;
  justify-content: flex-end;
}

.DrawerToggle {
  font-size: 2.5rem;
  margin: 0 0.5rem;
}


.Navbar {
  font-size: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  width: 100%;
}

.Navbar .container {
  display: flex;
  justify-content: space-between;

}

.Navbar .Logo {
  display: flex;
  align-items: center;
}

.Navbar .nav {
  display: flex;
  margin: 1rem;
}

.Navbar a {
  border-bottom: 5px solid transparent;
}

.Navbar li {
  margin: 0 1rem;
  border-bottom: 5px solid transparent;

}

.Navbar li:hover {
  border-bottom: 5px solid var(--secundary-color);
}


.About {
  background-color: #F5F5F6;
  padding: 3rem;
  text-align: center;
}

.Subtitle {
  color: #90a4ae;
  font-size: 2rem;
}

.Title {
  color: var(--primary-color);
  font-size: 4rem;
}

.Aboutme {
  width: 55%;
  font-family: 'Calibre';
  font-size: 2rem;
  margin: 2rem auto;
  border: 4px dotted;
  padding: 2rem;
}

.Work {
  background-color: #efefef;
  padding: 3rem;
}

.Projects {
  background-color: #e4e3e3;
  padding: 3rem;
}



.Contact {
  background-color: #d0cfcf;
  padding: 3rem;

}

.Contact div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Description {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Role {
  display: none;
}

.Skills-list {
  padding: 2rem;
  text-align: start;
  width: 80%;
  border: 4px dotted;
}


.btn {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  margin: 3rem;
  padding: 1rem 2rem;
  font-family: inherit;
  cursor: pointer;
  color: black;
}

.btn:hover {
  background-color: #d0cfcf;
  border: 2px solid var(--secundary-color);

}

.Line {
  display: block;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--secundary-color);
  margin: 30px 0px;
}

.Footer ul {
  display: flex;
  justify-content: center;
}

.Footer li {
  margin: 2rem;
}

.Footer,
.Roles a {
  color: #000000
}

.Email {
  display: flex;
  align-items: flex-end;
  position: fixed;
  bottom: 12%;
  left: 87%;
  transform: rotate(90deg);
}

.Email span {
  display: flex;
  align-items: center;
}

.email-footer {
  height: 2px;
  margin-left: 1rem;

}





@media (max-width:500px) {
  .Navbar .nav {
    display: none;
  }

}